{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Verify Your E-mail Address" %}{% endblock %}

{% block content %}
    <div class="w-full lg:w-[60%] mx-2 lg:mx-auto px-4 lg:px-16 text-center py-16">
        <h1>{% trans "Verify Your E-mail Address" %}</h1>

        <p>{% blocktrans %}We have sent an e-mail to you for verification. Follow the link provided to finalize the signup process. If you do not see the verification e-mail in your main inbox, check your spam folder. Please contact us if you do not receive the verification e-mail within a few minutes.{% endblocktrans %}</p>
        <p><a href="/" class="bg-[#58507B] text-xs text-white px-2 py-2 rounded-md">Back Home</a></p>
    </div>
{% endblock %}
