{% load format_post %} 
{% load static %} 

{% load bleach_tags %}
<div class="w-full grid grid-cols-1 lg:grid-cols-2 lg:gap-4 auto-cols-auto">
  {% for post in posts %}
  <div
    class="bg-white h-fit border-2 border-slate-200 shadow-sm flex flex-col md:flex-row justify-evenly mb-3"
  >
    <div class="w-full h-full bg1-blue-600">
      <img
        src="{% get_media_prefix %}{{ post.FeatureImage }}"
        class="w-full h-auto lg:h-[300px]"
      />
    </div>
    <div class="w-full h-[100]">
      <div class="w-full h-[100%] flex flex-col justify-between p-4">
        <h2 class="mb-6">{{post.Title}}</h2>
        <p>{{post.DateCreated}} by {{post.Author}}</p>
        <p class="mb-4">{{ post.Content|truncatechars:200|bleach }}</p>
        <div class="flex justify-end">
          <a
            href="/blog/post/{{ post.id }}/{{ post.Title|make_title }}"
            class="w-fit bg-[#58507B] text-sm text-white px-2 py-2 flex justify-center items-center rounded-md"
          >
            Read More
          </a>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
