{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="content-container">
    <div class="header-container">
        <img src={% static 'img/contact.jpg' %} alt="african huts">
        <h1>Contact Us</h1>
        <div class="header-overlay"></div>
    </div>
    <div class="content">
        <h3>Office</h3>
        <p>
            The Secretariat of the Free Software and Open Source Technology
            (FOSSFA) is incubated at the facility of The Advanced Information
            Technology Institute of the Ghana-India Kofi Annan ICT Centre of
            Excellence (AITI-KACE) in Accra, Ghana. 
        </p>
        <p>
            <b>Mail to:</b> Haile Selassie Street, Opposite Council of State,
            PMB, State House, Accra – Ghana.<br>
            <b>Email:</b> secretariat@fossfa.africa<br>
            <b>Digital Address:</b> GA-079-3146
        </p>
        <h3>Liaisons</h3>
        <p>
            Get in touch with us through one of the following Country Representives:
        </p>
        <p>
            @quikquik (twitter) -- Some country<br>
            @slowslow (irc) --  Another country
        </p>
        <h3>Social Fronts</h3>
        <p>
           <b>Twitter:</b> @fossfa
        </p>
    </div>
</div>
{% endblock %}
