{% extends "base.html" %} 
{% load static %} 

{% block content %}
<div class="home-bg">
    <img src={% static 'img/backdropA.jpg' %} />
    <div class="home-bg-overlay h-full">
        <div class="home-info-box h-full">
          <h1 class="text-xl sm:text-xl md:text-2xl lg:text-3xl xl:text-4xl 2xl:text-5xl text-white">Free Software</h1>
          <h1 class="text-xl sm:text-xl md:text-2xl lg:text-3xl xl:text-4xl 2xl:text-5xl text-white">and Open Source</h1>
          <h1 class="text-xl sm:text-xl md:text-2xl lg:text-3xl xl:text-4xl 2xl:text-5xl text-white">Foundation for Africa</h1>
            <p class="home-org-fr">(La Fondation Africaine de Logiciels Libre)</p><br><br>
            <p class="home-org-info">
                We are still at work, updating this website and repositioning ourselves for greater impact to our core target -- Africa. You can be part of our journey and our story.
            </p><br>
            <p class="home-org-info">
                Nous sommes toujours au travail, mettant à jour ce site Web et nous repositionnons pour un plus grand impact sur notre cible principale - l'Afrique. Vous pouvez faire partie de notre parcours et de notre histoire.
            </p>
        </div>        
    </div>
  </div>
</div>
{% endblock %}
