{% extends 'base.html' %} {% load static %} {% block content %}

<div class="w-full h-screen flex flex-col justify-center items-center bg-white">
  <div class="text-center">
    <div>
      <h2 class="text-4xl text-[#58507B]">404 - Page Not Found</h2>
    </div>
    <div>
      <p>
        We are sorry, the page you requested or data your requested could not be
        found
      </p>
    </div>
    <div>
      To go back to the home page, click
      <a href="/" class="text-sm text-bold text-purple-800">Here</a>
    </div>
  </div>
</div>
{% endblock %}
