    <div>
        <h3>About Us</h3>
        <p>Free Software and Open Source Foundation for Africa (FOSSFA) is an open source task force that aims to unite individuals and organizations engaged in open source technology at the local, regional and national level. It encourages participation and the support for the development, use and implementation of open source solutions in the African region.</p>
    </div>
    <div>
        <h3>Site Map</h3>
        <ul>
            <li><a class="footer-map" href="/about">About</a></li>
            <li><a class="footer-map" href="/blog">Blog</a></li>
            <li><a class="footer-map" href="/contact">Contact</a></li>
        </ul>
    </div>
    <div>
        <h3>Subscribe</h3>
        <p>Please subscribe to our newsletter below. Just enter your email
        address and click the Subscribe button to subscribe. Thank you</p>
        <form>
            <label class="color-white" for="email">Email</label>
            <input id="email" type="email"/>
            <button class="btn-accent">Send</button>
        </form>
    </div>
