{% load tailwind_tags %}
<head>
  {% load static %} {% tailwind_css %}
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>PcapXray</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/dist/styles.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/global.css' %}" />
  <link
    rel="icon"
    type="image/x-icon"
    href="{% static 'img/icons/favicon.ico' %}"
  />
  <script src="{% static 'fontawesomefree/js/all.min.js' %}"></script>
</head>
